@model prjCooking.Models.t聚會


@{
    ViewBag.Title = "CreateParty";
}

<h2 class="text-info">舉辦共煮</h2>
<hr>
<br>
<form method="post" action="~/Meet/SaveParty" EncType="multipart/form-data" >
    <section>
        <div class="container">
            <div class="row">

                <div class="col-md-7 offset-md-1 text-center bg-light">

                    <div class="row">

                        <aside class="col-md-12 text-left">
                            <br>
                            <!-- 照片 -->
                            <img src="~/Image/party_02.jpg" id="imgpreview" class="card-img" name="f聚會照片">
                            <!-- <img class="card-img-top" src="img/cook_02.jpg" width="300" > -->
                            <br><br>

                            <input type="file" name="image" id="fileupload" accept="image/jpeg, image/gif, image/png" onchange="openFile()" multiple>
                            <br>
                            <!-- 照片結束 -->
                            <hr>
                        </aside>

                        <aside class="col-2 text-left">
                            <p><span class="text-danger">*</span>名稱:</p>
                        </aside>
                        <aside class="col-10 text-left">
                            <input type="text" class="form-control" placeholder="請輸入聚會名稱" name="f聚會名稱">
                        </aside>
                        <br /> <br />
                        <aside class="col-2 text-left">
                            <p>內容:</p>
                        </aside>
                        <aside class="col-10 text-left">
                            <input type="text" class="form-control" placeholder="請介紹您的共煮聚會" name="f聚會內容">
                           
                        </aside>
                        <br /> <br />
                        <aside class="col-2 text-left">
                            <p>關鍵字:</p>
                        </aside>
                        <aside class="col-10 text-left">
                            <input type="text" class="form-control" placeholder="請在每個關鍵字前加上#" name="f聚會關鍵字">
                        </aside>
                        <br /><br />
                        <aside class="col-2 text-left">
                            <p><span class="text-danger">*</span>共煮平台:</p>
                        </aside>
                        <aside class="col-10 text-left">
                            <input type="text" class="form-control" placeholder="請輸入平台名稱" name="f聚會軟體">
                        </aside>
                        <br /><br />
                        <aside class="col-2 text-left">
                            <p><span class="text-danger">*</span>連結:</p>
                        </aside>
                        <aside class="col-10 text-left">
                            <input type="text" class="form-control" placeholder="請輸入平台連結" name="f聚會軟體URL">
                        </aside>
                        <br /><br />
                        <aside class="col-2 text-left">
                            <p><span class="text-danger">*</span>日期:</p>
                        </aside>
                        <aside class="col-10 text-left">
                            <input type="date" class="form-control" min="today" style="width:50%" name="f聚會日期">

                        </aside>
                        <br /><br />
                        <aside class="col-2 text-left">
                            <p><span class="text-danger">*</span>開始時間:</p>
                        </aside>
                        <aside class="col-10 text-left">
                            <input type="time" class="form-control" min="today" style="width:50%" name="f聚會開始時間">

                        </aside>
                        <br /><br />
                        <aside class="col-2 text-left">
                            <p><span class="text-danger">*</span>結束時間:</p>
                        </aside>
                        <aside class="col-10 text-left">
                            <input type="time" class="form-control" min="today" style="width:50%" name="f聚會結束時間">

                        </aside>
                        <br /><br />
                        <aside class="col-2 text-left">
                            <p><span class="text-danger">*</span>名額:</p>
                        </aside>
                        <aside class="col-10 text-left">
                            <input type="number" min="1" class="form-control" placeholder="請輸入數字" style="width:25%" name="f名額">
                        </aside>
                        <aside class="col-12 text-left">
                            <hr>
                            <p>煮辦人聯絡資訊:</p>
                            <p class="text-danger">以下內容僅提供給審核成功的共煮成員</p>
                            <br />

                        </aside>

                        <!-- 煮辦人聯絡資訊 -->

                        <br /><br />
                        <aside class="col-2 text-left">
                            <p>信箱:</p>
                        </aside>
                        <aside class="col-10 text-left">
                            <input type="text" placeholder="" style="width:35%" value="@ViewBag.email " disabled>
                        </aside>
                        <br /><br />
                        <aside class="col-2 text-left">
                            <p>通訊軟體:</p>
                        </aside>
                        <aside class="col-10 text-left">
                            <input type="text" class="form-control" placeholder="" name="f聚會通訊軟體">
                        </aside>
                        <br /><br />
                        <aside class="col-2 text-left">
                            <p>帳號:</p>
                        </aside>
                        <aside class="col-10 text-left">
                            <input type="text" class="form-control" placeholder="" name="f聚會通訊軟體帳號">
                        </aside>

                        <aside class="col-12 text-right">
                            <br><hr>

                            <input class="btn btn-outline-info bi bi-forward-fill" type="submit" value="下一步 ➜ 新增食材">
                            <br><br>
                        </aside>

                    </div>

                </div>

            </div>

        </div>
    </section>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    function openFile() {

        var fileUpload = document.getElementById("fileupload");
        var imgPreview = document.getElementById("imgpreview");
        var imgOne = fileUpload.files[0];

        if (fileUpload.files.length > 0) {

            var reader = new FileReader();

            reader.onload = function () {
                imgPreview.src = reader.result;
            };

            imgPreview.onload = function () {

            }

            reader.readAsDataURL(imgOne);

        } else {

        }
    }
</script>
