@{
    ViewBag.Title = "登入";
}

<h2>登入</h2>

<form method="post" class="form-horizontal" style="text-align:center;" action="~/Member/登入">
    <div class="form-group">
        <br>
        <!--required 必填欄位-->
        <span>信箱</span><br>
        <input placeholder="請輸入您的信箱" style="width:400px" type="email" name="txtEmail"><br>
        <span>密碼</span><br>
        <input placeholder="請輸入密碼" style="width:400px" type="password" name="txtPwd"><br>
        <br><br><br>
                <div>
                    &emsp;&emsp;<a href="註冊">註冊</a>&emsp;|&emsp;<a href="忘記密碼">忘記密碼?</a>
                </div><br>
        <div>
            <input type="submit" value="登入" />
        </div>
    </div>
</form>