
@{
    ViewBag.Title = "註冊";
}

<h2>註冊</h2>

<form class="form-horizontal" style="text-align:center;" method="post" action="~/Member/註冊">
    <div class="form-group">
        <br>
        <!--required 必填欄位-->
        <span>信箱</span><br>
        <input placeholder="請輸入信箱" style="width:400px" type="email" name="txtEmail" disabled="@ViewBag.dis" value="@ViewBag.驗證mail"><br>
        <br>        
        <span>密碼</span><br>
        <input placeholder="請輸入密碼" style="width:400px" type="password" name="txtPwd"><br>
        <br>
        <span>暱稱</span><br>
        <input placeholder="至少2字" style="width:400px" type="text" name="txtName"><br>
        <br>
        <span>性別</span><br>
        <select name="txtGender">
            <option value="0" selected>不透露</option>
            <option value="1">男</option>
            <option value="2">女</option>
        </select><br>
        <br><br><br>
        <div>
            <input type="submit" value="送出" />
        </div>
    </div>
</form>
